# Python
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
.venv/
.DS_Store

# IDE
.idea/
.vscode/

# Project Data & Artifacts
data/
artifacts/
.env
.ipynb_checkpoints
.cache/

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
.next/
node_modules/
