version: "3.9"
services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    ports:
      - "8000:8000"
  dashboard:
    build:
      context: ..
      dockerfile: docker/Dockerfile.app
    ports:
      - "8501:8501"
    depends_on:
      - api
